<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
  <div id="videos">
    <video id="localVideo" autoplay muted playsinline></video>
    <video id="remoteVideo" autoplay playsinline></video>
  </div>
  

  <% include ../partials/header.ejs %>
</body>
</html>
